/* ------------------ Defaults -------------- */
:root {
  --black: #130f40;
  --gray: #dfe4ea;
  --white: #fafafa;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  line-height: 1.25;
  background-color: hsl(275, 100%, 97%);
  color: var(--black);
  font-size: 16px;
  overflow: scroll;
}
.header {
  width: 100wh;
  height: 30vh;
  background: url("/assets/images/background-pattern-desktop.svg");
}
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
main {
  display: flex;
  justify-content: center;
  padding: 30px;
}

/* ------------------ Styles -------------- */

.container {
  padding: 20px;
  width: 600px;
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: 1fr min(475px, 96%) 1fr;
  margin-top: 24px;
  border-radius: 10px;
  position: relative;
  top: -200px;
}
.container-header {
  margin-top: 15px;
  display: flex;
  justify-content: start;
  gap: 15px;
}
.container > * {
  grid-column: 2;
}

.content-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  margin-top: 24px;
}
.list-item {
  border-radius: 8px;
  padding: 16px;
}
.item-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 8px;
}

.list-item .body {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease;
}
.list-item .body .content {
  overflow: hidden;
}
.list-item img {
  transform: rotate(90deg);
  transition: transform 300ms ease;
}
.list-item.open .body {
  grid-template-rows: 1fr;
}
.list-item.open img {
  transform: rotate(-90deg);
  transition: transform 300ms ease;
}
